.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 20px;
}

.bold {
  font-family: "Lucida Console", monospace;
  text-align: left;
  color: rgb(175, 0, 0);
  font-weight: normal;
  margin-left: 20%;
  font-size: 95%;
}

.input {
  margin: 10px;
}

.border {
  border: 10px groove rgb(121, 116, 116);
}

.heading {
  font-family: "Lucida Console", monospace;
  color: rgb(175, 0, 0);
  font-size: xx-large;
}

.button {
  margin: 10px;
}