/*.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 20px;
}

b {
  margin-right: 150px;
  font-family: "Lucida Console", monospace;
  text-align: left;
  color: rgb(24, 27, 122);
}

.input {
  margin: 10px;
}

.border {
  border: outset 10px;
}

h2 {
  margin-left: 10px;
  font-family: "Lucida Console", monospace;
  color: rgb(24, 27, 122);
  font-size: xx-large;
}*/


.container {
  display: flex;
  flex-direction: column;
  align-items: left;
  justify-content: center;
}

.button {
  margin-left: 40%;
  margin-right: 40%;
  margin-bottom: 1%;
  margin-top: 1%;
  height: 3vh;
}

.split{
  height: 20vh;
  display: grid;
  grid-template-columns: 1fr;
  text-align: center;
  margin-left: 25%;
  margin-right: 25%;
  margin-top: 2%;
}
.make {
  background-color: rgb(100, 97, 97);
}

.inpuT[type=text] {
  width: 90%;
  margin-left: 5%;
  padding: 12px 20px;
  box-sizing: border-box;
  border: 3px solid #ccc;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  outline: none;
}

.inpuT[type=text]:focus {
  background-color: lightblue;
}

.content {
  height: 150px;
  margin-left: 5%;
  margin-right: 5%;
  padding: 12px 20px;
  border: 3px solid #ccc;
  border-radius: 4px;
  resize: none;
}
.content:focus {
  background-color: lightblue;
}

b {
  margin-left: 3%;
  margin-top: 1%;
  margin-bottom: 1%;
  font-family: "Lucida Console", monospace;
  text-align: left;
  color: rgb(24, 27, 122);
  font-size: 150%;
}

.input {
  margin: 10px;
}

.border {
  border: outset 10px;
}

h2 {
  margin-left: 10px;
  font-family: "Lucida Console", monospace;
  color: rgb(24, 27, 122);
  font-size: xx-large;
}

.open-button {
  background-color: #555;
  color: white;
  padding: 16px 20px;
  border: none;
  cursor: pointer;
  opacity: 0.8;
  position: fixed;
  bottom: 23px;
  right: 28px;
  width: 300px;
}

.create-popup {
  display: none;
  position: fixed;
  bottom: 0;
  right: 15px;
  border: 3px solid #f1f1f1;
  z-index: 9;
}
.form-container {
  max-width: 300px;
  padding: 10px;
  background-color: white;
}
.form-container textarea {
  width: 100%;
  padding: 15px;
  margin: 5px 0 22px 0;
  border: none;
  background: #f1f1f1;
  resize: none;
  min-height: 200px;
}


.form-container textarea:focus {
  background-color: #ddd;
  outline: none;
}

.form-container .btn {
  background-color: #04AA6D;
  color: white;
  padding: 16px 20px;
  border: none;
  cursor: pointer;
  width: 100%;
  margin-bottom:10px;
  opacity: 0.8;
}

.form-container .cancel {
  background-color: red;
}
.form-container .btn:hover, .open-button:hover {
  opacity: 1;
}